h1 {
    color: #8ec45f;
}

body {
    height: 110%;
    background-color: #fff;
}

div {
    font-family: 'Poppins';
}

.synopsis {
    font-size: 22px;
    font-weight: bold;
    color: #8ec45f;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;

  }
  

#getStartedBtn {
    color: #fff;
    margin: 20px auto 0;
    display: block;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pulse {
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }

#calendarPage {
    background-color: #8ec45f;
    color: #fff;
}

#calendarPage:hover {
    animation: pulsate 1s ease-in-out infinite alternate, 
    changeColor 2s ease-in-out forwards;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.04);
    }
}

@keyframes changeColor {
    0% {
        background-color: #8ec45f;
    }
    50% {
        background-color: #a5d6a7;
    }
    100% {
        background-color: #8ec45f;
    }
}


input,
.ui-select div.ui-btn {
    background-color: #fff;
}

.ui-checkbox {
    display: inline-block !important;
    inline-size: 32px !important
}

#table {
    width: 100%;
    margin: 50px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the table headers */
#table th {
    text-align: left;
    background-color: #8ec45f;
    padding: 5px;
}

/* Style the table rows */
#table tr {
    border-bottom: 1px solid #ddd;
}

#table td {
    padding-left: 5px;
    padding-right: 25px;
}

#alert_messageF {
    color: red;
    margin-bottom: 2px;
}

#alert_messageL {
    color: red;
    margin-bottom: 2px;
}

@keyframes jiggle {
     0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(20px); 
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}

#successMessage {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #8ec45f;
    margin-bottom: 10px;
    margin-top: 10px;
    animation: jiggle 4s ease-in-out;
    animation-iteration-count: infinite;
}
